.table {
  font-size: 1.25em;
  border-collapse: collapse;

  th, td {
    border-bottom: 1px solid grey;
    
    &:not(:last-child) {
      border-right: 1px solid grey;
    }
  }
  
  th {
    padding: 0.5em 1em;
    font-size: 1.2em;
  }
}

.checkbox-container {
  display: block;
  padding: 0.5em 1em;
}

td {
  padding: 0.5em 1em;
}

input[type="checkbox"] {
  appearance: none;
  display: block;
  width: 2rem;
  aspect-ratio: 1;
  border: 0;
  border-radius: 0.25em;
  margin: auto;
  overflow: hidden;
  
  &:checked {
    position: relative;
    transform: rotate(30deg);
    
    &::before, &::after {
      content: '';
      display: block;
      width: 80%;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translate(var(--translation, (-50%, -50%))) rotate(var(--rotation, 90deg));
      background-color: dodgerblue;
    }

    &::after {
      z-index: 999;
      left: calc(60% + 1px);
      top: calc(50% + 2rem * 0.4);
      width: 30%;
      --translation: -100%, -100%;
      --rotation: 0;
    }
  }
}

.hide-first-field-title {
  th:first-child {
    visibility: hidden;
  }
}

.submit-roles {
  font-size: 1rem;
  margin: 1em auto;
  max-width: max-content;
}